
.panel.donate
	color: #eee
	text-align: justify

	table.amounts
		
		label
			font-size: 2em

		input[type=radio]
			font-size: 2em

		#other-input
			height: 2em
			width: 100px
			text-align: center

		.amount-other
			width: 100%
