@import './board'
@import './donate'
@import './challengeList'
@import './createGame'
@import './gameList'
@import './menu'
@import './welcome'
@import './settings'
@import './share'

.outer
	width: 90%
