.welcome
	.outer
		height: 100%
		width: 100%

		table
			width: 100%
			td
				text-align: center
				padding: 4px
				
		.welcome, .menu
			button
				width: 100%

		.terms-text
			color: white
			font-size: .7em

		#terms
			display: none

		#terms + label.check-img
			width: 2em
			height: 2em
			display: inline-block
			vertical-align: bottom
			margin-left: 10px
			background: url('img/checkbox-empty.png')
			background-size: 100% 100%

		#terms:checked + label.check-img
			background: url('img/checked-box.png')
			background-size: 100% 100%
